  <template name="layout">
   {{#ionBody}}
<!-- Show sidemenu only on the left -->
    {{#ionSideMenuContainer side="left"}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
          </div>
          <div class="content has-header">
            <div class="list">
              <a href="{{pathFor 'postSubmit'}}">
              <div class="item item-icon-right" data-ion-menu-close>
                Add recipe
              </div>
              </a>
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-assertive"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
  </template>