  <template name="layout">
   {{#ionBody}}
      
    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Menu</h1>
          </div>
          <div class="content has-header">
            <div class="list">
              <div class="item item-icon-right" data-ion-menu-close>
                Recipes List 
              </div>
                <div class="item item-icon-right" data-ion-menu-close>
                Profile
              </div>
                <div class="item item-icon-right" data-ion-menu-close>
                Favourites 
              </div>
              <div class="item item-icon-right" data-ion-menu-close>
                Close Me
              </div>
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-assertive"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
  </template>