<template name="postSubmit">
    {{#contentFor "headerButtonLeft"}} {{>ionNavBackButton path="postsList"}} {{/contentFor}} {{#contentFor "headerTitle"}}
    <h1 class="title">Add Recipe</h1> {{/contentFor}} {{#ionView}} {{#ionContent class="padding"}}
    <div class="list">
        <form class="main form page">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input name="title" id="title" type="text" value="" placeholder="Title" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">URL</span>
                <input name="url" id="url" type="text" value="" placeholder="URL" />
            </label>
            <input type="submit" value="Submit" class="button button-block button-balanced" />
        </form>
    </div>
    {{/ionContent}} {{/ionView}}
</template>
