<template name="postsList">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Posts Library</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_myModal">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each posts}}
          {{#ionItem path="postPage"}}
            {{> postItem}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
      <button class="button button-large button-stable" data-action="showActionSheet">
      Show Action Sheet
    </button>
    {{/ionContent}}
  {{/ionView}}
</template>
