<template name="postsList">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Posts Library</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_myModal">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
    <button class="button button-block button-positive" data-action="showActionSheet">
      Show Action Sheet
    </button>
      {{#ionList}}
        {{#each posts}}
          {{#ionItem path="postPage"}}
            <h2><a href="{{url}}">{{title}}</a></h2>
            <p>{{domain}}</p>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
